<!DOCTYPE html>
<html lang="en" dir="ltr" data-scompiler-id="0">
    <!-- Mirrored from stroyka-admin.html.themeforest.scompiler.ru/variants/ltr/app-order.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jan 2022 21:41:13 GMT -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="format-detection" content="telephone=no" />
        <title>order</title>
        <!-- icon -->
        <%- include('partials/fileContainerCss') %>
        
    </head>
    <body>
        <!-- sa-app -->
        <div class="sa-app sa-app--desktop-sidebar-shown sa-app--mobile-sidebar-hidden sa-app--toolbar-fixed">
            <!-- sa-app__sidebar -->
            <%- include('partials/sidebar') %>
            <!-- sa-app__sidebar / end --><!-- sa-app__content -->
            <div class="sa-app__content">
                <!-- sa-app__toolbar -->
                <%- include('partials/toolbar.ejs') %>
                <!-- sa-app__toolbar / end --><!-- sa-app__body -->
                <div id="top" class="sa-app__body">
                    <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
                        <div class="container container--max--xl">
                            <div class="py-5">
                                <div class="row g-4 align-items-center">
                                    <div class="col">
                                        <h1 class="h3 m-0">Order 324fdg67gf8d66</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="sa-page-meta mb-5">
                                <div class="sa-page-meta__body">
                                    <div class="sa-page-meta__list">
                                        <div class="sa-page-meta__item">June 22 2021 </div>
                                        <div class="sa-page-meta__item"> items</div>
                                        <div class="sa-page-meta__item">Total 700</div>
                                        <div class="sa-page-meta__item d-flex align-items-center fs-6"><span class="badge badge-sa-success me-2">Paid</span><span class="badge badge-sa-warning me-2">shipped</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sa-entity-layout" data-sa-container-query='{"920":"sa-entity-layout--size--md"}'>
                                <div class="sa-entity-layout__body">
                            
                                    <div class="sa-entity-layout__sidebar">
                                        <div class="card">
                                            <div class="card-body d-flex align-items-center justify-content-between pb-0 pt-4">
                                                <h2 class="fs-exact-16 mb-0">Customer</h2>
                                            </div>
                                            <div class="card-body d-flex align-items-center pt-4">
                                                <div class="sa-symbol sa-symbol--shape--circle sa-symbol--size--lg"><img src="images/customers/customer-1-40x40.jpg" width="40" height="40" alt="" /></div>
                                                <div class="ms-3 ps-2">
                                                    <div class="fs-exact-14 fw-medium">Sinitha</div>
                                                    <div class="fs-exact-13 text-muted">This is a first order</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mt-5">
                                            <div class="card-body d-flex align-items-center justify-content-between pb-0 pt-4">
                                                <h2 class="fs-exact-16 mb-0">Contact person</h2>
                                            </div>
                                            <div class="card-body pt-4 fs-exact-14">
                                                <div>Dinitha</div>
                                                <div class="mt-1"><a href="#">sintha@gmail.com</a></div>
                                                <div class="text-muted mt-1">3248324078</div>
                                            </div>
                                        </div>
                                        <div class="card mt-5">
                                            <div class="card-body d-flex align-items-center justify-content-between pb-0 pt-4">
                                                <h2 class="fs-exact-16 mb-0">Shipping Address</h2>
                                            </div>
                                            <div class="card-body pt-4 fs-exact-14">
                                                Sintha <br />
                                                ]Meghdhut society<br />
                                                5345646 Vadodra<br />
                                                India 77894355
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sa-app__body / end --><!-- sa-app__footer -->
                <%- include('partials/footer.ejs') %>

                <!-- sa-app__footer / end -->
            </div>
            <!-- sa-app__content / end --><!-- sa-app__toasts -->
            <div class="sa-app__toasts toast-container bottom-0 end-0"></div>
            <!-- sa-app__toasts / end -->
        </div>
        <!-- sa-app / end --><!-- scripts -->
<% include('partials/fileContainerJs') %>
    </body>
    <!-- Mirrored from stroyka-admin.html.themeforest.scompiler.ru/variants/ltr/app-order.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jan 2022 21:41:14 GMT -->
</html>
