<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include('partials/client-fileContainerCss') %>
    
    <title>New password</title>
  </head>
  <body>
  <%- include('partials/client-header') %>
      <section class="formtee">
          <div class="container-fluid paralex">
  
          <div class="container-fluid">
            <div class="container">
                <div class="row   form-container"style="margin:100px 0px">
                    
                    <form class="card col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-xs-12 create-new-password-form" method="POST" action="">
                      <h2 class="col-12 my-4">Create new password</h2>
                          <div class="form-row py-2">
                              <span>New Password*</span>
                              <div class="">
                                  <input type="password"name="newPass" placeholder="********" class="form-ctrl">
                                </div>
                          </div>
            
                          <div class="form-row py-2">
                              <span>Confirm password*</span>
                              <div class="">
                                  <input type="password" name="conPass"placeholder="******" class="form-ctrl">
                              </div>
                          </div>
                          
                          
                          <div class="form-row py-2">
                              <div class="">
                                  <button type="submit" class="createNewPassword" >Confirm</button>
                              </div>
                          </div>
                         
                 
                          <p class="register">Don't have an account? <a href="#">Register here</a></p>
                      
                      </form>
                </div>
            </div>
          </div>
         

        </div>
      </section>
  </body>
  <%- include('partials/client-fileContainerJs') %>

</html>
