<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quality assurance</title>
    <%- include('partials/client-fileContainerCss') %>
 
</head>
<body>
    <%- include('partials/client-header') %>

    <section class="banner_qualityAssurance ">
        
            <div class="container-fluid quality_assurance">
            
             
                <div class="container" >
                    <div class="row quality_assurance_section_heading">
                  
                         <div class="col-lg-8 col-md-8 col-sm-12 colxs-12 p_l_15 quality_assurance_margin_auto">
                             <div >
                             <h1 class="qualty_assured_heading">Quality Assured</h1>
                             <h5 class="qualty_assured_content">Quality control (QC) is a process through which a business seeks to ensure that product quality is maintained or improved. Quality control requires the company to create an environment in which both management and employees strive for perfection. </h5>
                             <button class=" btn-black">view more</button btn>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
       
    </section>
    </div>

    <section class="quality_assurance_section ">
        <div class="container-fluid">
          
                <div class="row one_quality_assurance one_qua">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove_gap">
                        <div class="p_l_5">
                            <h5 class="qualty_assured_subheading">What Does Quality Control Mean?</h5>
                            <p class="qualty_assured_content">Quality control means how a company measures that its product quality is maintained (if it is good) or improved if need be. Quality control can be done in many ways, from testing products, reviewing manufacturing processes, and creating benchmarks. This is all done to monitor significant variations in a product.</p>
                            <button class=" btn-black">view more</button btn>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove_gap pos_ab">
                        <div class="quality_assurance_image_container">
                            <img src="/material/4.jpg" class="img-responsive img-fluid">
                        </div>
                    </div>
            </div>
        
        </div>
    </section>
    <section class="quality_assurance_section ">
        <div class="container-fluid">
          
                <div class="row one_qua">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove_gap ">
                        <div class="quality_assurance_image_container">
                            <img src="/material/1.jpg"class="img-responsive img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove_gap ">
                        <div class="p_l_5">
                            <h5 class="qualty_assured_subheading">What Are the 4 Types of Quality Control?</h5>
                            <p class="qualty_assured_content">There are several methods of quality control. These include an x-bar chart, Six Sigma, 100% inspection mode, and the Taguchi Method.</p>
                            <button class=" btn-black">view more</button btn>
                        </div>
                    </div>
                   
            </div>
       
        </div>
    </section>
    <section class="quality_assurance_section ">
        <div class="container-fluid">
          
                <div class="row one_quality_assurance one_qua">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove_gap">
                        <div class="p_l_5">
                            <h5 class="qualty_assured_subheading">Why Is Quality Control Important?</h5>
                            <p class="qualty_assured_content">Quality control ensures that defective goods do not go out to the public. Companies that have quality control methods in place often have employees who pay close attention to their work.</p>
                            <button class=" btn-black">view more</button btn>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove_gap pos_ab">
                        <div class="quality_assurance_image_container">
                            <img src="/material/2.jpg" class="img-responsive img-fluid">
                        </div>
                    </div>
           
            </div>
        </div>
    </section>
    
    
    <section class="quality_assurance_section">
        <div class="container-fluid">
 
                <div class="row one_qua">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 remove_gap pos_ab">
                        <div class="quality_assurance_image_container">
                            <img src="/material/3.jpg"  class="img-responsive img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove_gap">
                        <div class="mt_35 p_l_5">
                            <h5 class="qualty_assured_subheading">What Is an Example of Quality Control?</h5>
                            <p class="qualty_assured_content">An aspect of quality control in food production would be overseeing the ingredient specifications, reviewing supplier lists, and ensuring the facility where the food product is made is sanitary.</p>
                            <button class=" quality_assured_button btn-black">view more</button>
                        </div>
                    </div>
                   
            </div>
   
        </div>
    </section>
    
    <%- include('partials/client-footer') %>
    


</body>
<%- include('partials/client-fileContainerJs') %>

</html>
<!--  -->