<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/client-fileContainerCss') %>
    <title>Login Page</title>
  </head>
  <body>
  <%- include('partials/client-header') %>
      <section>
        <div class="containeer-fluid "style="height:100vh">
            <div class="container" style="display:flex;justify-content:center;margin-top:5%">
                <div class="row  form-container card" style="width:500px">
                    <h2 class="text-center my-4">Login</h2>
                    <form class="login-form" method="POST" action="">
            
                          <div class="form-row ">
                              <span>Email*</span>
                              <div class="">
                                  <input type="text"name="email" placeholder="FlyingMonkey@gmail.com" class="form-ctrl">
                              </div>
                          </div>
            
                          <div class="form-row ">
                              <span>Password*</span>
                              <div class="">
                                  <input type="password" name="password" placeholder="******" class="form-ctrl">
                              </div>
                          </div>
                          
                          <a href="/forgetpassword" id="forgot-pass">Forgot password?</a>
                          
                          <div class="form-row ">
                              <div class="">
                                  <button type="submit" class="btn-black mt-2" >Log in</button>
                              </div>
                          </div>
                          
                      
                      </form>
                      <p class="register" style="font-size:12px;padding-top:15px">Don't have an account? <a href="/signup">Register here</a></p>

                </div>
            </div>
        </div>
  <%- include('partials/client-footer') %>
        
                     

      </section>
  </body>
  <%- include('partials/client-fileContainerJs') %>

</html>
