<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('partials/client-fileContainerCss') %>
    <title>Document</title>
</head>
<body>
  <%- include('partials/client-header') %>
 
 <section class="banner">
    <div class="container-fluid">
      <div class="row home-page-banner-slider">


      <div class="slide slide100vh one" >  
            <div class=" col-md-8 col-md-offset-2 banner_text r">
              <div class="banner_info_container">
              <h2><span class="banner_heading">Shop now</span></h2>
              <p>Discover the world with calligraphy and enjoy its beauty.</p>
                <button class="btn-black m_t_10"><a>view more <i class="bi bi-caret-right-fill"></i></a></button>
              </div>
            </div>
      </div>
      <div class="slide slide100vh two">  
          <div class=" col-md-8 col-md-offset-2 banner_text r">
            <div class="banner_info_container">
            <h2><span class="banner_heading">Shop now</span></h2>
            <p>Discover the world with calligraphy and enjoy its beauty.</p>
              <button class="btn-black m_t_10"><a>view more <i class="bi bi-caret-right-fill"></i></a></button>
            </div>
          </div>
      </div>
      <div class="slide slide100vh three">  
        <div class=" col-md-8 col-md-offset-2 banner_text r">
          <div class="banner_info_container">
          <h2><span class="banner_heading">Shop now</span></h2>
          <p>Discover the world with calligraphy and enjoy its beauty.</p>
            <button class="btn-black m_t_10"><a>view more <i class="bi bi-caret-right-fill"></i></a></button>
          </div>
        </div>
      </div>
      
    </div>
    
    </div>

  
     
  
</section>
<section class="productOfTheWeek">
  <div class="container-fluid info_section">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3  col-sm-12 col-xs-12 col-xl-6 offset-xl-3 text-center">
              <h3 class="productOfTheWeek_Heading ">
                New technology 
              </h3 >
              <p class="information">Carve your name on glasses and enjoy the lemonade</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid image_section">
    <div class="container">
      <div class="row ">
    
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xl-4">
          <div class="product_of_the_week_img_container">
            <img src="./New folder/glass-3.jpeg" alt="" class="img-fluid">
            <div class="product_info text-center">
              <h5 class="product_name">Blue Blash Glass</h5>
              <p class="product_price">₹399</p>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xl-4">
          <div class="product_of_the_week_img_container">
            <img src="./New folder/glass-5.jfif" alt="" class="img-fluid">
            <div class="product_info text-center">
              <h5 class="product_name">Sparkling White Glass</h5>
              <p class="product_price">₹399</p>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-xl-4">
          <div class="product_of_the_week_img_container">
            <img src="./New folder/glass-1.jpeg" alt="" class="img-fluid">
            <div class="product_info text-center">
              <h5 class="product_name">Aesthetic Glass</h5>
              <p class="product_price">₹399</p>
            </div>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</section>
<section class="stylishChairsSection">
  <div class="container-fluid sub_sec_one">
    <div class="container">
      <div class="row c-rev">
        <div class="col-lg-6 offset-lg-1 offset-md-1 col-md-7 col-sm-6 offset-sm-1 col-xs-12 data">
          <div class="banner_info_container text-center m-auto">
            <h2><span class="section_heading">Wall frames</span></h2>
            <p class="section_information">
              Make your memory wall
              This hanging photo display will help you to create a wall collage with your favorite memories, photos and without damaging your walls in any way.</p>
              <button class="btn-black m_t_10"><a>view more <i class="bi bi-caret-right-fill"></i></a></button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 img_data  img_data_odd w-70">
            <img src="./New folder/frame-17.jpeg" class="img-fluid chair">
  <img src="images/clientside/Home-page/stylish-chairs/img-2.png" class="img-fluid egg-chair">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid sub_sec_two">
    <div class="container">
     <div class="row">
       <div class="col-lg-4 offset-lg-1 col-md-4 offset-md-1 col-sm-4 offset-sm-1 col-xs-12 img_data2   w-70"> 
        <img src="images/clientside/Home-page/stylish-chairs/img-3.png" class="img-fluid light">
        <img src="images/clientside/Home-page/stylish-chairs/img-4.png" class="img-fluid light_chair">
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 data img_data_even">
        <div class="banner_info_container text-center m-auto ">
          <h2><span class="section_heading">Night lamps</span></h2>
          <p class="section_information">Decorate the interior of your lovely home with this Mosaic wall Lites .</p>
            <button class="btn-black m_t_10"><a>view more <i class="bi bi-caret-right-fill"></i></a></button>
          </div>
      </div>
     </div>
    </div>
  </div>
  <div class="container-fluid sub_sec_one">
    <div class="container">
      <div class="row c-rev">
        <div class="col-lg-6 offset-lg-1 offset-md-1 col-md-7 col-sm-6 offset-sm-1 col-xs-12 data">
          <div class="banner_info_container text-center m-auto">
            <h2><span class="section_heading">Crockery</span></h2>
            <p class="section_information">Due to the handcrafted nature of this stoneware or ceramic item each and every handicraft product is unique.</p>
              <button class="btn-black m_t_10"><a>view more <i class="bi bi-caret-right-fill"></i></a></button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 img_data img_data_odd w-70">
            <img src="images/clientside/Home-page/stylish-chairs/img-5.png" class="img-fluid cups">
  <img src="images/clientside/Home-page/stylish-chairs/img-6.png" class="img-fluid kettle">
        </div>
      </div>
    </div>
  </div>
</section>

<section style="width:100%;height:fit-content;margin:100px 0px">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="sketchfab-embed-wrapper"style="width:100%;height:100%"> <iframe title="VR Staircase Art Gallery 2018" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/ef87d8f3036543cda051604f7c6e205b/embed" style="width:100%;height:100%"> </iframe></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h2><span class="section_heading">Take virtual tour of our shop</span></h2>
          </div>
      </div>
    </div>
  </div>

</section>

<%- include('partials/client-footer') %>


</body>
<%- include('partials/client-fileContainerJs') %>


    <script>
              $('.home-page-banner-slider').slick({
		  slidesToShow:1,
		  slidesToScroll:1,
          infinite:true,
          Horizontal: true,
          dots:true,
		  arrows:false,	   
		  centerMode: false,		  
		  focusOnSelect: true,
		   
		});
    $('.testi_slider').slick({
		  slidesToShow:1,
		  slidesToScroll:1,
          infinite:true,
          Horizontal: true,
       
		  arrows:true,	   
		  centerMode: false,		  
		  focusOnSelect: true,
		   
		});
    </script>
</html>
