<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetMyTeam</title>
    <%- include('partials/client-fileContainerCss') %>

</head>
<body>
    <%- include('partials/client-header') %>
 
    <div class="parallax parallax-meet-my-team">Meet my team</div>
    <section class="container-fluid">
        <div class="container">
            <div class="row meetMyTeamMargin justify-content-center">
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                    <div class="meetMyTeamContent text-center">
                        <h1 class="meetMyTeam_Heading">Mangement team</h1>
                        <p class="meetMyTeam_Content m_t_3">Good teams incorporate teamwork into their culture, creating the building blocks for success.</p>
                    </div>
                </div>
            </div>
           
                
        </div>
    </section>
    <section class="Team-members container-fluid m_b_10">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                    <div class="member">
                        <img src="/images/clientside/team-members/team-img1.jpg" class="img-fluid member_image">
                        <div class="member_informations">
                            <h5 class="meetMyTeam_Sub_Heading">Hiral shah</h5>
                            <p class="meetMyTeam_Content">calligraphy writer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="member">
                        <img src="/images/clientside/team-members/team-img2.jpg" class="img-fluid member_image">
                        <div class="member_informations">
                            <h5 class="meetMyTeam_Sub_Heading">Shantam sharma</h5>
                            <p class="meetMyTeam_Content">Digital marketer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="member">
                        <img src="/images/clientside/team-members/team-img3.jpg" class="img-fluid member_image">
                        <div class="member_informations">
                            <h5 class="meetMyTeam_Sub_Heading">Rohit Roby</h5>
                            <p class="meetMyTeam_Content">Digital artist</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="member">
                        <img src="/images/clientside/team-members/team-img5.jpg" class="img-fluid member_image">
                        <div class="member_informations">
                            <h5 class="meetMyTeam_Sub_Heading">Amit rathod</h5>
                            <p class="meetMyTeam_Content">calligraphy artist</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

</body>
<%- include('partials/client-fileContainerJs') %>

</html>