<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/client-fileContainerCss') %>

    <title>Page not found</title>
</head>
<body>
   
  <section class="error_page">
      <div class="container-fluid page_not_found">
        <div class="container containing_page_info d-flex">
          <div class="card m-auto" style="width: 15rem;">
            <img class="card-img-top img-fluid" src="/images/clientside/404/cart-image.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text error-card">
                <h2>Lost ?</h2>
              There's no place like <a href="/"class="">Home</a></p>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>
<%- include('partials/client-fileContainerJs') %>

</html>